<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MRC.Properties.Settings>
      <setting name="LastInterfaceUsed" serializeAs="String">
        <value>PCAN</value>
      </setting>
      <setting name="CanViewComPort" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="GatewayIP" serializeAs="String">
        <value>192.168.1.100</value>
      </setting>
      <setting name="WriteOnEdit" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="Profile" serializeAs="String">
        <value>Engineering</value>
      </setting>
      <setting name="PCGFirmware" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="ECCFirmware" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="MRUFile" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="PollingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PollInterval" serializeAs="String">
        <value>250</value>
      </setting>
    </MRC.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>